---
export interface Image {
    src: string;
    alt?: string;
}

export interface DrinkProps {
    blurb?: string;
    brewery?: string;
    date: Date;
    image?: Image;
    name: string;
    rating: number;
    slug: string;
    tastingNotes: string[];
}

const { blurb, brewery, date, image, name, rating, slug, tastingNotes } = Astro.props;
---

<article>
    <img src={image.src} alt={image.src} />
    <h2>{name}{brewery && <> <span>{brewery}</span></>}</h2>
    <ul role="list">{tastingNotes.map((note: string) => <li><span>#</span>{note}</li>)}</ul>
    <footer><time>{date}</time><p>{"⭐️".repeat(rating)}</p></footer>
</article>

<style>
    article {
        padding: 1rem;
        background-color: white;
        border-radius: 0 0 1rem 1rem;
    }

    h2 {
        margin-block: 0.5rem;
        padding-block: 0;
        line-height: 1;

        span {
            color: grey;
            font-size: 0.75em;
            white-space: nowrap;
        }
    }

    img {
        max-width: 100%;
    }

    p {
        margin: 0;
        text-align: end;
        place-self: end;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem 1rem;
        margin-block: 1rem -1rem;
        margin-inline: -1rem;
        padding: 0.5rem 1rem 0.75rem;
        /* background-color: #e6e6e6; */
        border-top: 2px solid lightgray;
        border-radius: 0 0 1rem 1rem;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem 1rem;
        margin-block-start: 0;

        li { 
            font-size: 1rem;
            white-space: nowrap;

            span {
                margin-inline-end: 0.1rem;
                color: var(--accent);
                font-weight: bold;
                font-size: 0.8em;
            }
        }
    }
</style>